<style type="text/css">
	textarea.pubprikey {
		width: 100%;
		height: 100%;
		border: thin double #906;
		text-align: left;
	}

	p.Chapters {
		color: #FFECBF;
		background-color: #FFB200;
		display: block;
		visibility: visible;
		cursor: pointer;
		border: 2px solid #FFB200;
		font-size: 2em;
		text-align: center;
		margin: 0 auto;
	}

	p.Author {
		color: #FFB200;
		background-color: #FFECBF;
		display: block;
		visibility: visible;
		cursor: pointer;
		border: 10px solid #FFECBF;
		border-radius: 30px;
		font-size: 2em;
		text-align: left;
		margin: 0 auto;
	}

	p.read {
		color: #d8a373;
		background-color: #CCF;
		display: block;
		visibility: visible;
		cursor: pointer;
		border: 10px solid #CCF;
		border-radius: 30px;
		font-size: 2em;
		text-align: left;
	}

	div.show {
		color: #f95;
		text-align: right;
		float: right;
		height: 10px;
	}

	div.loading {
		color: #f3a25f;
		background-color: #FFECBF;
		display: block;
		visibility: hidden;
		cursor: pointer;
		border: 10px solid #FFECBF;
		border-radius: 20px;
		font-size: 1em;
		text-align: left;
		margin: 0 auto;
	}

	div.help {
		color: #d8a373;
		background-color: #CCF;
		display: block;
		visibility: visible;
		cursor: pointer;
		border: 10px solid #CCF;
		border-radius: 30px;
		font-size: 1em;
		text-align: center;
	}

	div.ReadingProgressDiv {
		width: auto;
		min-height: 50px;
		height: 10vh;
		position: relative;
		border: 2px solid;
		margin: 0 auto;

	}

	p.ReadingProgressBar {
		min-height: 50px;
		height: 100%;
		background: #CCF;
		display: inline-block;
		vertical-align: middle;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}

	p.ReadingProgressRange {
		position: absolute;
		top: 0;
		right: 0;
	}
</style>