<body onresize="onresize()">
	<div class="show" id="show" onclick="showReadingProgress()">
		<p>☆</p>
	</div>
	<div>
		<textarea class="pubprikey" onblur="pubprikey()" id="privkey" rows="3" cols="5"> -----BEGIN PRIVATE KEY----- -----END PRIVATE KEY----- 
		</textarea>
		<textarea class="pubprikey" onblur="pubprikey()" id="signpubkey" rows="3" cols="5"> -----BEGIN PUBLIC KEY----- -----END PUBLIC KEY----- 
		</textarea>
		<textarea id="ebook" style="display:none;">!!!EBookEBook!!!</textarea>
	</div>
	<div id="DivChapters" onclick="textonclick(event);">
		<p class="Chapters" id="Chaptershead">
			<br />
		</p>
		<p></p>
		<div id="Chapter"> </div>
		<div id="Reader"> </div>
		<div class="help" id="help">			
			<p> 点击开始加载。 </p>
			<p> 点击右上角的☆，可选择阅读进度。</p>
		</div>
		<div class="loading" id="loading">
			<p> 开始加载，硬件不支持RSA解密，没有硬件支持，速度会很慢，very slow。 </p>
		</div>
	</div>
	<div id="ReadingProgressDiv" class="ReadingProgressDiv" onclick='gogogo(event,100);'>
		<p class="ReadingProgressBar" id="ReadingProgressBar"></p>
		<p class="ReadingProgressRange"><span id="ReadingProgressRange">0</span>%</p>
	</div>
</body>